<nav class="navbar navbar-expand-sm navbar-light bg-light ">
    <div class="container">

      <a style="color: white;" class="navbar-brand navbar-custom-one" href="#">
      <img class="logo-image" src="/assets/film-reel.png" alt="image">
        <h5>MovieApp</h5></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a style="color: white;" class="nav-link active" aria-current="page" href="">Movies</a>
          </li>
          <li class="nav-item">
            <a style="color: white;" class="nav-link" href="tv-shows">TV Shows</a>
          </li>
          <li class="nav-item">
            <a style="color: white;" class="nav-link" href="actors">Actors</a>
          </li>
        
      
      
       
        </ul>
        <form class="d-flex">
          <div>
            <input class="form-control me-2" type="search" placeholder="      Search (Press '/' to focus) " aria-label="Search">
 
            <div class="icon-search"></div>
          </div>
    <img class="image" src="https://movies.andredemos.ca/img/avatar.jpg" alt="">
        </form>
      </div>
    </div>
  </nav>

  